.bundeslade-enter-from {
  opacity: 0;
  transform: translateY(-500px);
  background: rgba(0, 0, 0, 0);
}
.bundeslade-enter-to {
  opacity: 1;
  transform: translateY(0px);
  background: rgba(0, 0, 0, 0.5);
}
.bundeslade-enter-active {
  transition: all 5s ease;
}

.bundeslade-leave-from {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.bundeslade-leave-to {
  opacity: 0;
  background: rgba(0, 0, 0, 0);
}
.bundeslade-leave-active {
  transition: all 2s linear;
}







.show-page{
  animation: showPage 2s forwards;
}

.hide-page{
  animation: hidePage 0.5s forwards;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


@keyframes showPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidePage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
