.username-input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
    background: #383838;
}

.standart-input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
    background: #383838;
}

.small-input{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
    background: #383838;
}

.karte{
    width: 99vw;
    max-width: 463px;
}

.role-image{
    width: 90vw;
    max-width: 700px;
}

.karte-leinwand{
    max-width: 463px;
    max-height: 90vh;
}

.shadow{
    box-shadow: 0px 0px 20px #ffffff;
}

.shadow-red{
    box-shadow: 0px 0px 20px #ff0000;
}

.shadow-green{
    box-shadow: 0px 0px 20px #00ff00;
}

.shadow-blue{
    box-shadow: 0px 0px 20px #00f2ff;
}

.voted-color{
    color: #ffff00;
}

.dead-color{
    color: #ffffff;
}

.current-dead-color{
    color: #ff0000;
}

.blue{
    color: #00f2ff
}


.ui-button{
    display: flex;
    width: 270px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 22px;

    background: #002c34;
}

.ui-button-icon{
    display: flex;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 22px;

    background: #002c34;
}

.player-card{
    margin: 10px;

    background: rgb(33, 33, 33);
    min-width: 180px;
    max-width: 100vw;
    height: 40px;
    border-radius: 50px;
}

.player-card-meeting{
    margin: 10px;
    border-radius: 50px;
}

.leinwand-card-size{
    width: 90vw;
    max-width: 45vw;
    height: 100px;
    font-size: 60px;
}

.normal-card-size{
    width: 90vw;
    max-width: 450px;
    height: 40px;
}

.player-card-background{
    background: #212121;
}

.dummy-card-background{
    background: #122e55;
}

.player-card-dead{
    margin: 10px;

    background: rgb(65, 0, 0);
    width: 90vw;
    max-width: 450px;
    height: 40px;
    border-radius: 50px;
}

.player-card-leinwand{
    width: 90vw;
    max-width: 600px;
    height: 60px;
}
